<div class="container-fluid banner-section{% if section.settings.style == 'style_2' %}-style_2{% endif %}" style="background-image: url('{{section.settings.image | img_url: 'master'}}')">
    <div class="container banner-container">
        <div class="banner__caption">
        <div class="banner__caption--heading">
            <h1>{{section.settings.heading}}</h1>
        </div>
        <div class="banner__caption--saleoff">
            <p>{{section.settings.saleoff}}</p>
            <p style="color:{{section.settings.color}}" >{{section.settings.saleoff_onsuit}}</p>
        </div>
        <div class="banner__caption--content">
            <p>{{section.settings.content}}</p>
        </div>
        {%- if section.settings.countdown == true -%}
        <div id="banner__caption--countdown">
            <div class="days">
                <span id="days"></span>
                <p>Days</p>
            </div>
            <div class="hours">
                <span id="hours"></span>
                <p>Hrs</p>
            </div>
            <div class="minutes">
                <span id="minutes"></span>
                <p>Mins</p>
            </div>
            <div class="seconds">
                <span id="seconds"></span>
                <p>Secs</p>
            </div>            
        </div> 
        {%- endif -%}
        {%- unless section.settings.button == blank -%}
        <button class="banner__caption--button">
            {{section.settings.button}}
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.6666 7.99925H1.33325" stroke="#252A2F" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.48145 2.66667L14.6666 8L9.48145 13.3333" stroke="#252A2F" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        {%- endunless -%}
        
        

    </div>
    </div>
</div>



<script>
    (function () {
    const second = 1000,
          minute = second * 60,
          hour = minute * 60,
          day = hour * 24;
    
    let birthday = " June 20 , 2021 00:00:00",
        countDown = new Date(birthday).getTime(),
        x = setInterval(function() {    
  
          let now = new Date().getTime(),
              distance = countDown - now;
  
          document.getElementById("days").innerText = Math.floor(distance / (day)),
            document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
            document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
            document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);
  
          //do something later when date is reached
          if (distance < 0) {
            let headline = document.getElementById("headline"),
                countdown = document.getElementById("countdown"),
                content = document.getElementById("content");
  
            headline.innerText = "It's my birthday!";
            countdown.style.display = "none";
            content.style.display = "block";
  
            clearInterval(x);
          }
          //seconds
        }, 0)
    }());
</script>




{% schema %}
{
    "name": "Banner section",
    "settings": [
        {
            "type": "radio",
            "id": "style",
            "options": [
                { "value": "style_1", "label": "Style 1"},
                { "value": "style_2", "label": "Style 2"}
            ],
            "label": "Style"
        },
        {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
        },
        {
            "type": "textarea",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "saleoff",
            "label": "Sale Off"
        },
        {
            "type": "text",
            "id": "saleoff_onsuit",
            "label": "On Suit"
        },
        {
            "type": "color",
            "id": "color",
            "label": "Color On Suit",
            "default": "#053399"
        },
        {
            "type": "textarea",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "checkbox",
            "id": "countdown",
            "default": false,
            "label": "CountDown"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button"
        }
        

    ],
    "blocks":[
       
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Banner section"
        }
    ]
}
{% endschema %}